.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEFEFE;
}

.logo {
  max-height: 70vh;
  max-width: 80vw;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}